        @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Roboto:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 10px;
  display: grid;
  place-items: center;
}
h1 {
  font-weight: 500px;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.8);
  padding: 2rem 0;
}
.container {
  width: 80%;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;

}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(203, 241, 183, 0.1) url("../Images/header-background.jpeg") no-repeat center
    center/cover;
  flex-direction: column;
}

nav {
  width: 100%;
  max-width:600px;
  display: grid;
  place-items: center;
}

.nav-items {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  list-style: none;
  color: #000000;
}
.nav-item {
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: capitalize;
  padding: 1.2rem 2.4rem;
}
.nav-item a {
  text-decoration: none;
  border-bottom: 2px solid transparent;
  color: rgba(0, 0, 0, 0.8);
  transition: all 0.4s ease;
}
.nav-item a:hover {
  font-size: 1rem;
  border-bottom: #000;
}

/*++logo+++*/
.logo-title-wrapper {
  margin: 0 auto;
}

.logo-wrapper {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.logo-wrapper img {
  width: 100%;
  height: 100%;
}
/*++title+++*/
.title-wrapper {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

.socialMedia {
  width: 100%;
  margin: 0 auto;
  color: olivedrab;
  text-align: center;
}
.socialMedia a {
  text-decoration: none;
  background-color: transparent;
  transition: all 0.5s ease;
}
.socialMedia a:hover {
  background-color: olivedrab;
}
.fab {
  color: rgba(0, 0, 0, 0.877);
}
