body{
    margin: 0 auto;
}
.container{
    max-width:1200px;
}
.header-wrapper{
    width:90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url'(Images/header-background.jpeg)';
}





















